:root {
  --basewhite: rgba(255, 255, 255, 1);
  --paymentsvisablue: rgba(20, 52, 203, 1);
  --neutral-colorswhite: rgba(255, 255, 255, 1);
  --neutral-colors400: rgba(214, 220, 229, 1);
  --paymentsmastercardyellow: rgba(247, 158, 27, 1);
  --paymentspaypalblue-1: rgba(23, 155, 215, 1);
  --neutral-colorsblack: rgba(0, 0, 8, 1);
  --paymentsg-payorange: rgba(233, 66, 53, 1);
}
